.fifth-screen {
  overflow-x hidden

  .screen-bg__pattern {
    height 90%
    margin-top 80px
    top 0
    background-image url("../images/pattern.png")
  }

  .info {
    padding-top: 80px;
    position: relative;
    z-index: 10;
    margin-bottom 20px

    &-box {
      height auto
      text-align center
    }

    &-plans {
      position relative

      &-plan {
        width 380px
        margin-right 15px

        text-align center
        display inline-block
        background-color white

        .bold-heading {
            margin-top: 35px;
            margin-bottom: 25px;
        }

        .plan-heading {
          margin-bottom 10px
        }

        .decor-block {
          margin-bottom 25px
        }

        .common-text {
          margin-bottom 70px
          padding: 0 15px;
        }
      }

      &-plan:hover {
        background-color mainBlack
        color white

        .bold-heading, .plan-heading, .common-text, .bold-heading_massive, .plan-info__term, .plan-info__link {
          color white
        }
      }

      &__plan:last-of-type {
        margin-right 0
      }
    }

    &-plans:before {
      content: '';
      background-image: url(../images/pattern.png);
      height: 102%;
      width: 1000%;
      position: absolute;
      top: 0;
      left: 4px;
      right: -902px;
      z-index: -1;
    }

    .block-heading {
      margin-bottom 40px
      text-align left
      padding-left 20px
    }
  }

  .plan-info {
    margin-bottom 30px

    &__term {
      color mainGray
      display inline-block
      margin-left 20px
    }

    &__link {
      color mainGray
      border-bottom 1px dashed mainGray
      margin-left 70px
    }
  }


}

  .threeD-popup {
    text-align: center;

    &-gallery {
      width: 53%;
      display: inline-block;
      vertical-align: top;
    }

    &-img {

      &__prew {
        width: 200px;
        margin: 15px;
      }

      &__wide {

      }
    }

    &-info {
      width: 35%;
      margin-top: 15px;
      display: inline-block;
      vertical-align: top;

      background-color: lightGray;
      text-align: left;

      .common-text {
        padding: 45px 50px 30px;

        &_2 {
          padding-top: 0;
        }
      }

      &-exp {
        width: 100%;
        padding: 0 0 50px 0;
        font-size: 0;
        text-align: center;

        &__text {
          padding: 15px 0 10px;
        }
      }
    }

    .exp-progects {
      width: 175px;
      height: 175px;
      display inline-block
      vertical-align: top;

      background-color: white;
      text-align: center;

      &__caption{
        margin-bottom: 60px;
        max-width: 200px;
        position relative
        padding-left: 20px;
      }

      &__caption:before {
        content: '';
        height: 35px;
        width: 5px;
        background-color: #ff0006;
        position: absolute;
        left: 0;
        top: 5px;
      }

      .common-text {
        color: mainBlack;
        padding: 0 0 45px;
      }

      .bold-heading_massive {
        color: mainRed;
      }

  }
  .exp-progects:first-of-type {
    margin-right: 30px;
  }

  .block-heading{
    margin-top: 30px;
  }

  }


///////////////////////////////////////////////////////////////////////////
//ADAPTIVE

@media screen and (max-width: 1200px) {
  .fifth-screen .info-plans-plan {
    width: 40%;
    margin-bottom: 40px;
  }

  .fifth-screen .info-plans:before {
    height: 100%;
  }

  .threeD-popup-info {
      width: 45%;
  }
}

@media screen and (max-width: 890px) {
    .threeD-popup-info {
        width: 55%;
    }
    .threeD-popup-gallery {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
  .fifth-screen .info-plans-plan {
    width: 60%;
    margin-right 0
    margin-bottom: 40px;
  }

  .threeD-popup .exp-progects:first-of-type {
      margin-bottom: 30px;
      margin-right: auto;
  }
  .threeD-popup .exp-progects {
      display: block;
      margin: 0 auto;
  }

  .threeD-popup-info {
      margin-left: 30px;
  }
  .fifth-screen .info {
    padding-top: 0px;
}
.fifth-screen .button {
    margin-bottom: 0;
}
}

@media screen and (max-width: 640px) {
  .threeD-popup-info .common-text {
      padding: 45px 20px 30px;
  }
}

@media screen and (max-width: 480px) {
  .fifth-screen .info-plans-plan {
    width: 90%;
    margin-right 0
    margin-bottom: 40px;
  }

  .threeD-popup-info .common-text {
    padding: 15px 5px 30px;
    font-size: 12px;
  }
  .threeD-popup-info .common-text:last-of-type {
    padding: 0px 5px 30px;
  }

  .threeD-popup .exp-progects {
    width: 145px;
    height: 145px;
  }
  .threeD-popup-info-exp {
    padding: 0 0 20px 0;
  }
  .threeD-popup-info {
      margin-bottom: 25px;
  }
  .threeD-popup .block-heading {
    padding: 0;
    margin-left: 0;
    font-size: 17px;
  }

}
