.fourth-screen {
  overflow-x hidden

  .screen-bg__pattern {
    height 90%
    margin-top 100px
    top 0
    background-image url("../images/pattern.png")
  }

  .info {
    padding-top: 80px;
    position: relative;
    z-index: 10;
    margin-bottom 20px

    &-box {
      height auto
      text-align center
    }

    &-plans {
      position relative

      &-box {
        height: auto;
      }

      &-plan {
        width 280px
        margin-right 15px
        position: relative;
        max-height: 480px;

        text-align center
        vertical-align: top;
        display inline-block
        background-color white
        cursor pointer

        .bold-heading {
          margin-top 50px
          margin-bottom 40px
        }

        .plan-heading {
          margin-bottom 40px
        }

        .decor-block {
          margin-bottom 35px
        }

        .common-text {
          margin-bottom 100px
        }
      }

      &-plan:hover {
        background-color mainBlack
        color white

        .bold-heading, .plan-heading, .common-text, .bold-heading_massive, .plan-info__term, .plan-info__link {
          color white
        }
      }

      &__plan:last-of-type {
        margin-right 0
      }
    }

    &-plans:before {
      content: '';
      background-image: url(../images/pattern.png);
      height: 102%;
      width: 1000%;
      position: absolute;
      top: 0;
      left: -902%;
      z-index: -1;
    }

    .block-heading {
      margin-bottom 40px
      text-align left
      padding-left 20px
    }
  }

  .plan-info {
    position: absolute;
    bottom: 30px;
    width: 100%;

    &__term {
      color mainGray
      display inline-block
      margin-left 20px
    }

    &__link {
      color mainGray
      border-bottom 1px dashed mainGray
      margin-left 70px
    }

    &__link:hover {
      color mainRed
    }
  }

  .threeD-popup .block-heading {
    margin-bottom 40px
  }
}
.popup-case_fourthScreen {
  top: -50px;
}
.price-plan {
  width 45%
  display inline-block
  text-align left

  &__heading {
    margin-bottom 40px
    margin-top 10px !important
  }

  &__caption {
    margin-bottom 30px
    font-size 14px
    font-family mediumff
    font-weight 600
    color mainBlack
  }
  &-list{

    &__number{
      width: 20px;
      display: inline-block;

      margin-right 15px
      font-family mediumff
      font-weight 600
      color mainBlack

      &_red {
        margin-right 1px
        color mainRed
      }

      &_red_first {
        margin-right 3px
      }
    }
    &__item{
      text-align left
      cursor pointer

      &-text {
        display inline-block
        text-decoration underline
        font-size 14px
      }
      &-text:hover {
        color mainRed
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////
//ADAPTIVE

@media screen and (max-width: 1200px) {
  .fourth-screen .info-plans-plan {
    width: 40%;
    margin-bottom: 40px;
  }

  .fourth-screen .info-plans:before {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
    .fourth-screen .info-plans-plan {
      width: 60%;
      margin-right 0
      margin-bottom: 40px;
    }
    .fourth-screen .info {
    padding-top: 0;
}
  }

@media screen and (max-width: 480px) {
  .fourth-screen .info-plans-plan {
    width: 90%;
    margin-right 0
    margin-bottom: 40px;
  }
}
