// BASE
@import "base/var";
@import "base/fonts";
@import "base/base-styles";
@import "base/animation";

// PARTIALS
@import "partials/header";
@import "partials/headings";
@import "partials/pattern";
@import "partials/decor-block";
@import "partials/button";
@import "partials/booking-form";

//SCREENS
@import "screens/first-screen"
@import "screens/second-screen"
@import "screens/third-screen"
@import "screens/fourth-screen"
@import "screens/fifth-screen"
@import "screens/sixth-screen"
@import "screens/seven-screen"