.booking-form {
    max-width: 745px
    margin: 0 auto
    background-color: white;
    text-align: center;
    border: 1px solid;
}
.booking-form-wrapper {
    padding: 0 80px 50px 80px;
}
.booking-form__title {
    padding-top: 50px;
    font-size: 14px;
    font-family: boldff;
    text-transform: uppercase;
}
.booking-form__lable {
    font-family: mediumff;
    padding: 40px 0 0 10px;
    font-size: 14px;
}
.booking-form__button {
    margin-top: 30px;
    background-color: mainBlack;
    height: 50px;
    border-radius: 0;
}

@media screen and (max-width: 640px) {
    .booking-form-wrapper {
        padding: 0 20px 30px 20px;
    }
}
