.button, .button-pdf {
  display inline-block
  padding 20px
  margin-bottom 75px

  font-size 12px
  text-transform uppercase

  color mainBlack
  border 1px solid mainBlack
}
.button:hover, .button-pdf:hover {

  color white
  background-color: mainBlack
}