.bold-heading, .block-heading, bold-heading_massive, .plan-heading {
  font-family mediumff
  font-weight bolder
  font-size 14px
  text-transform uppercase
}

.block-heading {
  font-size 22px
}

.bold-heading_massive {
  font-size 50px
  margin 0 10px
  font-size 21px
}

.common-text {
  color mainGray
}