*{
  box-sizing: border-box;
  transition: all .2s;
  outline: none;
}

html {
  font-size: 14px;
  line-height: 22px;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: main-ff;
  overflow-x: hidden;
}

main, section, footer, header {
  display: block;
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  border: 0;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

p {
  color: mainBlack;
  font-size: 16px;
  line-height: 1.4;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
  outline: none !important;
  color mainRed
}

a:focus {
  text-decoration: none !important;
  outline: none !important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.mfp-arrow-left {
    left: 10%;
}

.mfp-arrow-right {
    right: 10%;
}

.lSPager {
  display: none;
}

.mfp-bg {
  background: white;
  opacity: 1;
}

.mfp-close {
    color: black;
    font-size: 40px;
}

.lSAction>.lSPrev {
    background-position: 10px 5px;
    width: 35px;
    height: 35px;
    // left: 10%;
    background-image: url(../images/control-left.png)
    background-repeat: no-repeat
}
.lSAction>.lSNext {
    width: 35px;
    height: 35px;
    background-position: 10px 5px;
    background-image: url(../images/control-right.png)
    background-repeat: no-repeat
}
.slick-list, .slick-track {
    max-height: 550px;
}