@font-face {
  font-family: 'Avenir-Regular';
  src: url('../fonts/AvenirNextCyr-Regular.otf') format("opentype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/AvenirNextCyr-Medium.otf') format("opentype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Material';
  src: url('../fonts/Material-Design-Iconic-Font.eot');
  src: url('../fonts/Material-Design-Iconic-Font.eot?#iefix')format('embedded-opentype'),
          url('../fonts/Material-Design-Iconic-Font.woff') format('woff'),
          url('../fonts/Material-Design-Iconic-Font.ttf') format("truetype");

  font-style: normal;
  font-weight: normal;
}