//
// Font stacks
main-ff= 'GothamProRegular', 'sans pro', 'serif'
mediumff= 'GothamProMedium', 'sans pro', 'serif'
boldff= 'GothamProBold', 'sans pro', 'serif'
iconicff= 'Material', 'sans pro', 'serif'

//
// Colors
mainRed= #ff0006
mainBlack= #282828
mainGray= #717171
lightGray= #f0f0f0