//
// Font stacks
main-ff= 'Avenir-Regular', 'sans pro', 'serif'
mediumff= 'Avenir-Medium', 'sans pro', 'serif'
iconicff= 'Material', 'sans pro', 'serif'

//
// Colors
mainRed= #ff0006
mainBlack= #282828
mainGray= #717171